body {
    --dark-blue: rgb(31, 40, 70);
}

#root {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

.card {
    padding: 2em;
}

.app-container {
    display: flex;
    height: 100%;
    background-color: var(--dark-blue);
}

.toggleContainer {
    min-width: 2rem;
}
