aside {
    background-color: var(--dark-blue);
    height: 100%;
    transition: width 0.3s ease;
    overflow: hidden;
    color: white;
}

aside.expanded {
    width: 20%;
    max-width: 20rem;
}

aside.collapsed {
    width: 0;
}
aside div {
    display: flex;
    padding-left: 1rem;
}

aside nav {
    margin-left: 1rem;
}

.links {
    display: block;
    padding-bottom: 10px;
    color: white;
    font-size: larger;
}

.profileMenu {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.sidebarToggle {
    width: 25px;
    margin-left: auto;
    padding-right: 5px;
}
